body {
    margin: 0;
    background: #000000


}

.container {
    display: flex;
    justify-content: space-around;
    color:white;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    background: #1B244A;


}

h3 {
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;

}

#gscore-el {
    background: #0a0001;
    // border: 5px solid green;
    margin: 5px 5px;
    padding: 30px 30px;
    color: #F94F6D;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    width: 117px;
    height: 120px;
    top: 125px;
    left: 100px;
}

#hscore-el {
    background: #0a0001;
    // border: 5px solid green;
    margin: 5px 5px;
    padding: 30px 30px;
    color: #F94F6D;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    width: 117px;
    height: 120px;
    top: 125px;
    left: 100px;
}


#btn-hg {
width: 45px;
height: 45px;
top: 271px;
left: 82px;
border-radius: 5px;
background: #9AABD8;
border: 2px solid #9AABD8;
width: 45px
height: 45px
top: 271px
left: 447px
border-radius: 5px

}